
.mainCoursesBox{
//position:relative;
//display: inline-block;
max-width:100%;
//background:green;
height:100vh;
margin: 4% 8% 0px 8%;
//padding:50px -10px 0px -10px;
}

.courseBox{
display: inline-block;
position: relative;
//background:yellow;
height:41vh;
width:20%;
margin: 40px 0px 20px 60px;
float: left;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
border-radius:8px;

//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//margin:auto;
//border:1px solid;
//padding:50px 0px 0px 0px;


}

.courseHeading{
    height: 15vh;
    //background-color: red;
    margin: 52% 0px 0px 15px;
    text-align: left;
    //padding: 0px 0px 0px 10px;
}
.courseHeading h3{
    //line-height: 3;
    height:0vh;
    padding:0px 3px 65px 3px;
    //background-color: yellow;

}

.courseInput{
    //background-color: violet;
    height: 4vh;
    margin: 16% 0px 0px 12px;
    justify-content: center;
}

.startLearning{
font-family: "Source Sans Pro",Arial,sans-serif;
text-align:center;
background-color: #0056d2;
color: white;
border-radius:4px;
border: 2px solid #0056d2;
height:4vh;
width:96%;
//margin:10vh 0vh 0vh 0vh;
font-size: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/*.courseImg{

width:100%;
padding:10px 0px 0px 0px;
//justify-content: center;
margin: 0% 0% 0px 0%;
//padding: 20px;
background:red;

}*/

#coursImg1{
    background:url("webdev.jpeg");
background-size:29.7vh;
background-repeat: no-repeat;

}

#coursImg2{
    background:url("pythoncourse.jpeg");
background-size:29.7vh;
background-repeat: no-repeat;

}

#coursImg3{
    background:url("mysql.jpeg");
background-size:29.7vh;
background-repeat: no-repeat;

}

#coursImg4{
    background:url("java.jpeg");
background-size:29.7vh;
background-repeat: no-repeat;

}

#coursImg5{
    background:url("ai-learning.jpeg");
background-size:29.7vh;
background-repeat: no-repeat;

}
#coursImg6{
    background:url("dataSience.jpeg");
background-size:29.7vh;
background-repeat: no-repeat;

}
#coursImg7{
    background:url("cyberSecurity.jpeg");
background-size:29.7vh;
background-repeat: no-repeat;

}
#coursImg8{
    background:url("gameDev.jpeg");
background-size:29.7vh;
background-repeat: no-repeat;

}

